<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="company-intro">
        <div class="company-name">Cổng thông tin đơn hàng lao động nước ngoài uy tín nhất</div>
        <ul class="list-unstyled">
          <li>ĐC: 59 Phạm Thận Duật, Mai Dịch, Cầu Giấy, Hà Nội</li>
          <li>ĐT: 0965.999.290 - Email: vinh.duhoc@gmail.com</li>
          <li>Copyright © 2007 - 2017. laodongnuocngoai.net</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h4>5 Lý do bạn nên đăng ký tham gia đơn hàng lao động qua chúng tôi:</h4>
        <ul>
          <li>Được miễn phí hoàn toàn tiền khám sức khỏe.</li>
          <li>Được chi trả toàn bộ chi phí đi lại nếu đỗ đơn hàng.</li>
          <li>Được cung cấp thông tin đơn hàng đa dạng, chính xác và nhanh nhất.</li>
          <li>Được truyền bí kíp "ĐÃ THI LÀ ĐỖ" các đơn hàng.</li>
          <li>Làm việc trực tiếp với công ty tuyển dụng, không qua trung gian.</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flaodongnuocngoai.net%2F&tabs&width=300&height=220&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=753794191390123" width="300" height="140" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</footer>
<!-- <div class="sticky-phone">
    <a href="tel:0966042043"><i class="fa fa-phone"></i> 0966 042 043</a>
</div> -->
