<section class="cd-intro">
  <h1><%= t '.welcome' %></h1>
</section>
<main class="cd-main-content">
  <div class="cd-container">
    <p><%= t '.intro', locale: :en %></p>
    <p><%= t '.bold_text.html' %></p>
  </div>
</main>
