<section class="cd-intro">
  <h1>Full-Screen Pop-Out Navigation</h1>
</section>
<main class="cd-main-content">
  <div class="cd-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quos, voluptate, sunt, in suscipit quibusdam quis dignissimos eligendi repellendus ipsam exercitationem adipisci nostrum fugit accusamus quae cum nisi accusantium eaque.
    </p>
  </div>
</main>
