/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
    background: #e7ebf2;
    overflow-x: hidden;
    /*padding-top: 58px;*/
    font-family: 'Tahoma', sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 20px;
}
/*@media screen and (min-width:768px) and (max-width:1024px) {
    body {
        padding-top: 110px;
    }
}*/
blockquote {
    border-left: 5px solid #00A80C;
    margin-top: 5px;
    color: #055699;
}
p small {
    color: #7D26CD;
}
.jumbotron {
    background-color: #fff;
}
.not-found-text {
    line-height:30px;
}
.bold {
    font-weight: bold;
}
.green {
    color: #00A80C;
}
.red {
    color: #f00;
}
.yellow-background {
    background-color: yellow;
}
iframe, object, embed {
    max-width: 100%;
}
/* Start back to top button */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);  /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) image_url('cd-top-arrow.svg') no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media screen and (min-width:768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media screen and (min-width:1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/* End back to top button */

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
table {
    table-layout: fixed;
    overflow: break-word;
}

/* Start top navbar */
.navbar-principal {
    background-color: #fff;
}
.navbar-btn {
    margin-left: 5px;
}
.navbar-toggle {
    background-color: #fff;
}
.navbar-default .navbar-brand {
    padding: 0;
    margin: 0;
}
#class-list {
    border: none;
}
.dropdown-menu.region-menu, .subject-menu {
    width: 550px;
}
.dropdown-menu.experience-menu {
    width: 500px;
}
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
.region-title {
    font-weight: bold;
    color: #00A80C;
    padding-left: 10px;
}
.top-menu {
    color: #055699 !important;
    font-weight: bold;
}
.btn-auth {
  margin-top: 7px;
  margin-right: 5px;
}
/* End top navbar */

/* Start footer */
#footer {
  background: #056699;
  color: #fff;
  padding: 20px 0 50px;
  .company-intro {
    text-align: center;
    margin-bottom: 30px;
  }
  .company-name {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 2em;
    text-transform: uppercase;
  }
  li {
    line-height: 1.5em;
    font-size: 16px;
  }
}
/* End footer */
